# History files
*.Rhistory
.Rapp.history

# DS_Store files
.DS_Store

# Session Data files
*.RData
*.RDataTmp*

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Data
*.rds
*.csv
*.zip
*.RData

# Folders
*archived*
simulation/results_Mar1
simulation/results_Sep6
simulation/sensitivity

# htmls
*.html

# Other
*.tex
*tests*
*old*
*data_application_may2026*
*docs*

# Images (for now)
*.png
*.pdf