# History files
.Rhistory
.Rapp.history

# DS_Store files
.DS_Store

# Session Data files
.RData
.RDataTmp*

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Data
*.rds

# Folders
instrumental_variables_simulation/*
*archived*