# History files
.Rhistory
.Rapp.history

# DS_Store files
.DS_Store

# Session Data files
.RData
.RDataTmp*

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Images
*.png
*.jpeg

# Data
*.csv
*.RData
*.rds

# Folders
instrumental_variables_simulation/*
archived/*
boston_spatial_files/*
decompositions_cache/*
decompositions_files/*
images/*
simulation/*
tests/*
tl_2020_25_tract/*
tl_2021_06_tract/*
townssurvey_shp/*
archived_Oct4/*